{% extends "base.html" %}
{% load bootstrap5 %} {% load static %}

{%block content%}
<div class="container mt-5" style="background-image: url('https://images.pexels.com/photos/8293778/pexels-photo-8293778.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500');background-repeat: no-repeat;background-position: right;">
  <div class="row">
    <div class="col-md-6 mt-5">
      <form  action="{%url 'upload'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
    
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
      </form>
    
       {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      {% bootstrap_javascript %} {% endblock %}
    </div>
  </div>
</div>
{%endblock%}